<section class="about-us section" id="about-us">
  <div class="about-container container">
    <h2 class="about-title">About <span class="accent">Us</span></h2>
    <div class="about-content">
      <picture>
        <!-- Desktop screen 1440px -->
        <source
          media="(min-width: 1440px)"
          srcset="
            ./img/about_us/camera_desk1440.webp    1x,
            ./img/about_us/camera_desk1440@2x.webp 2x
          "
        />
        <!-- Desktop screen 1280px -->
        <source
          media="(min-width: 1200px)"
          srcset="
            ./img/about_us/camera_desk1280.webp    1x,
            ./img/about_us/camera_desk1280@2x.webp 2x
          "
        />
        <!-- Tablet screen -->
        <source
          media="(min-width: 768px)"
          srcset="
            ./img/about_us/camera_tab.webp    1x,
            ./img/about_us/camera_tab@2x.webp 2x
          "
        />
        <!-- Mobile screen -->
        <source
          media="(max-width: 767px)"
          srcset="
            ./img/about_us/camera_mob.webp    1x,
            ./img/about_us/camera_mob@2x.webp 2x
          "
        />
        <img
          class="about-image animate__animated animate__pulse animate__infinite animate__slow"
          src="./img/about_us/camera_mob.webp"
          alt="Camera"
          width="335"
          height="209"
          loading="lazy"
        />
      </picture>
      <div class="about-text-container">
        <p class="about-text">
          Our photography school is designed to teach you everything you need to
          know about this magical art. Regardless of your experience or skill
          level, we offer a wide range of courses to suit your needs and
          interests. Our teaching team consists of experienced photographers who
          have many years of experience in this field. They strive not only to
          share their knowledge, but also to inspire you to develop and express
          your unique creativity.
        </p>
        <p class="about-text">
          Our courses cover a wide range of topics, from the basics of
          photography and equipment use to professional image processing and
          creating impressive compositions. You will have the opportunity to
          learn the technical aspects of photography, discover your own style
          and develop your own visual language.
        </p>
      </div>
    </div>
  </div>
</section>
