<div class="bg-image-lines">
  <!-- HEADER -->
  <header class="header">
    <div class="header-container container">
      <nav class="header-nav">
        <a class="header-logo-link" href="./index.html">
          <svg class="header-logo-icon" width="123" height="16" aria-label="Site logo">
            <use href="./img/icons.svg#icon-logo"></use>
          </svg>
        </a>
        <ul class="header-list">
          <li class="header-item"><a class="header-nav-link" href="#about-us">About us</a></li>
          <li class="header-item"><a class="header-nav-link" href="#our-courses">Our courses</a></li>
          <li class="header-item"><a class="header-nav-link" href="#our-mentors">Our mentors</a></li>
          <li class="header-item"><a class="header-nav-link" href="#reviews">Reviews</a></li>
          <li class="header-item"><a class="header-nav-link" href="#contacts">Contacts</a></li>
        </ul>
        <div class="mob-right-box">
          <a class="header-sign-up-cam" href="#sign-up">
            <svg class="header-sign-up-icon" width="16" height="16" aria-label="Sign-up link icon">
              <use href="./img/icons.svg#icon-camera"></use>
            </svg>
          </a>
          <button class="header-menu-btn menu-toggle js-open-menu" aria-expanded="false" aria-controls="mobile-menu"
            data-modal-open>
            <svg class="header-menu-icon" width="32" height="22" aria-label="Mobile menu link icon">
              <use href="./img/icons.svg#icon-menu"></use>
            </svg>
          </button>
        </div>
      </nav>
      <a class="header-sign-up" href="#sign-up">Sign up</a>
    </div>
  </header>
  <!-- MOBILE MENU -->
  <div class="backdrop js-menu-container" id="mobile-menu">
    <div class="menu-container">
      <button class="btn-close menu-toggle js-close-menu">
        <svg class="btn-close-icon" width="32" height="32" aria-label="Close icon">
          <use href="./img/icons.svg#icon-close"></use>
        </svg>
      </button>
      <ul class="mob-nav-list">
        <li class="mob-nav-item">
          <a class="mob-nav-link js-menu-link current" href="#about-us">About us</a>
        </li>
        <li class="mob-nav-item">
          <a class="mob-nav-link js-menu-link" href="#our-courses">Our courses</a>
        </li>
        <li class="mob-nav-item">
          <a class="mob-nav-link js-menu-link" href="#our-mentors">Our mentors</a>
        </li>
        <li class="mob-nav-item">
          <a class="mob-nav-link js-menu-link" href="#reviews">Reviews</a>
        </li>
        <li class="mob-nav-item">
          <a class="mob-nav-link js-menu-link" href="#contacts">Contacts</a>
        </li>
      </ul>
    </div>
  </div>