<section class="hero-section">
  <!-- Andrii Trufyn -->
  <div class="container div-hero-section">
    <div class="hero-section-one">
      <h1 class="main-hero-h">
        Discover the magic of
        <span class="color-hero-update">photography </span>in our school
      </h1>

      <p class="hero-paragraf">
        Our photography school offers an unforgettable journey, where you can
        learn the basics of composition, master technical skills, translate your
        unique ideas.
      </p>
      <div class="hero-studend-and-review">
        <div class="hero-students">
          <ul class="hero-section-photo-list">
            <li class="hero-list-item">
      
                <picture>
                  <source
                    media="(max-width:767px)"
                    srcset="
                      ./img/hero/girl_1.png    1x,
                      ./img/hero/girl_1@2x.png 2x
                    "
                  />
                  <source
                    media="(min-width:768px)"
                    srcset="
                      ./img/hero/girl_1.png    1x,
                      ./img/hero/girl_1@2x.png 2x
                    "
                  />
                  <img
                    class="first-img-student img-student"
                    src="./img/hero/girl_1.png"
                    alt="Student1"
                    loading="lazy"
                  />
                </picture>
         
            </li>
            <li class="hero-list-item">
           
                <picture>
                  <source
                    media="(max-width:767px)"
                    srcset="./img/hero/boy.png 1x, ./img/hero/boy@2x.png 2x"
                  />
                  <source
                    media="(min-width:768px)"
                    srcset="./img/hero/boy.png 1x, ./img/hero/boy@2x.png 2x"
                  />
                  <img
                    class="img-student"
                    src="./img/hero/boy.png"
                    alt="Student2"
                    loading="lazy"
                  />
                </picture>
            
            </li>
            <li class="hero-list-item">
         
                <picture>
                  <source
                    media="(max-width:767px)"
                    srcset="
                      ./img/hero/girl_2.png    1x,
                      ./img/hero/girl_2@2x.png 2x
                    "
                  />
                  <source
                    media="(min-width:768px)"
                    srcset="
                      ./img/hero/girl_2.png    1x,
                      ./img/hero/girl_2@2x.png 2x
                    "
                  />
                  <img
                    class="img-student"
                    src="./img/hero/girl_2.png"
                    alt="Student3"
                    loading="lazy"
                  /> </picture
              >
            </li>
          </ul>
          <a class="hero-link-our-happy" href="#reviews">
            <p class="hero-text-human-p">Our happy students</p>

            <svg class="hero-right-svg" width="18" height="8.66">
              <use href="./img/icons.svg#icon-arrow-right-hero"></use>
            </svg>
          </a>
        </div>
        <div class="hero-review">
          <a class="hero-a-svg-star" href="#reviews">
            <svg class="hero-star-svg" width="20" height="20">
              <use href="./img/icons.svg#icon-star-hero"></use>
            </svg>
          </a>
          <div class="hero-text-fix">
            <p class="hero-p-review">Reviews</p>
            <p class="hero-p-one-five-zero-zero">+1500</p>
          </div>
        </div>
      </div>
    </div>
    <div class="hero-possition-photo">
      <picture>
        <source
          media="(min-width:1280px)"
          srcset="
            ./img/hero/rectangle_desk.png    1x,
            ./img/hero/rectangle_desk@2x.png 2x
          "
          width="397"
          height="520"
        
        />
        <source
          
          media="(min-width:768px)"
          srcset="
            ./img/hero/rectangle_tab.png    1x,
            ./img/hero/rectangle_tab@2x.png 2x
          "
           width="393"
          height="434"
        />
        <source
          media="(min-width:320px)"
          srcset="
            ./img/hero/rectangle_mob.png    1x,
            ./img/hero/rectangle_mob@2x.png 2x
          "
           width="259"
    height="314"
        />

        <img
          src="./img/hero/rectangle_mob.png"
          alt="Student"
          class="hero-img"
          width="259" 
          height="314" 
        />
      </picture>
    </div>
</div>
</section>
  </div>