<section class="mentor-section section" id="our-mentors">
  <div class="mentor-container container">
    <h2 class="mentor-title">Our <span class="mentor-span">Mentors</span></h2>
    <ul class="mentor-list list">
      <li class="mentor-item">
        <img 
        class="mentors-img" 
        srcset="./img/our_mentors/emilia.webp 1x, ./img/our_mentors/emilia@2x.webp 2x"
          src="./img/our_mentors/emilia.webp" 
          alt="Emilia Smith" loading="lazy"
          width="180"
          height="180" />
        <div class="mentor-container">
          <h3 class="mentor-member">Emilia Smith</h3>
          <p class="mentor-experience">1.5 years of experiencer</p>
        </div>
      </li>

      <li class="mentor-item">
        <img 
        class="mentors-img" 
        srcset="./img/our_mentors/alex.webp 1x, ./img/our_mentors/alex@2x.webp 2x"
          src="./img/our_mentors/alex.webp" 
          alt="Alex Lebedev" 
          loading="lazy"
          width="180"
          height="180" />
        <div class="mentor-container">
          <h3 class="mentor-member">Alex Lebedev</h3>
          <p class="mentor-experience">3.5 years of experience</p>
        </div>
      </li>

      <li class="mentor-item">
        <img 
        class="mentors-img" 
        srcset="./img/our_mentors/mia.webp 1x, ./img/our_mentors/mia@2x.webp 2x"
          src="./img/our_mentors/mia.webp" 
          alt="Mia Dubrovska" 
          loading="lazy" 
          width="180"
          height="180"/>
        <div class="mentor-container">
          <h3 class="mentor-member">Mia Dubrovska</h3>
          <p class="mentor-experience">2.0 years of experience</p>
        </div>
      </li>

      <li class="mentor-item">
        <img class="mentors-img" 
        srcset="./img/our_mentors/eliot.webp 1x, ./img/our_mentors/eliot@2x.webp 2x"
          src="./img/our_mentors/eliot.webp" 
          alt="Eliot Kovalev" 
          loading="lazy"
          width="180"
          height="180" />
        <div class="mentor-container">
          <h3 class="mentor-member">Eliot Kovalev</h3>
          <p class="mentor-experience">4.0 years of experience</p>
        </div>
      </li>
    </ul>
  </div>
</section>